* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    box-shadow: 2px 5px 13px 0px #000000, 8px -15px 31px -12px rgb(0 0 0 / 0%);
    margin-bottom: 15px;
}

.container {
    width: 50%;
    margin: auto;
}

.container.signin {
    margin-top: 20px;
}

textarea {
    height: 80px;
}